<h1 id='top' style='margin: 0; width: 100%; text-align: center;'>

<% if @user.attr.has_key?(:contact) %>
<button class='goto material-icons' value='<%= @user.attr[:contact] %>'>call</button>
<% else %>
<button class='goto material-icons' value='<%= @path %>'>home</button>
<% end %>

<button class='tog material-icons'>star</button>

<button class='goto material-icons' value='<%= @user.attr[:social] || %[#{@path}/#{params[:app]}] %>'>menu</button>

</h1>



<% if @user.attr.has_key?(:contest) %>
<div style='matgin: 0;'>
<a href='<%= @path %>/<%= params[:entity] %>/<%= params[:app] %>?origin=<%= params[:origin] %>&vote=1' style='text-decoration: none; color: black;'>
<h3 style='width: 100%; text-align: center;'><span>VOTE</span></h3>
<p style='width: 100%; text-align: center;'><span><%= @user.attr[:contest] %></span></p>
</a>
</div>
<% end %>

<div id='merit' style='position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none;'>
<%= erb :merit %>
</div>

<div id='badge' style='display: none;'>
<% if @host.env[:merit] == 'true' %>
<%= erb :level %>
<% end %>
<div id='qrcode'></div>
<% if @host.env[:merit] == 'true' %>
<%= erb :badges %>
<% end %>
</div>


<h1 style='margin: 0; position: fixed; bottom: 0; width: 100%; text-align: center;'>
<button class='tog' value='badge'>BADGE</button>
</h1>
<script>

</script>