<style>
#canvas { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -10; }
</style>
<canvas id='canvas'></canvas>

<div id='foot' style='position: fixed; bottom: 0; width: 100%;'>

<fieldset id='magic' class='foot' style='display: none;'><legend>magic</legend>
<%= erb Bivouac.form(@host.app[:magic]) %>
</fieldset>

<div id='info' class='foot'><legend><%= @box.attr[:name] || @entity.attr[:name] || 'anonymous' %></legend>

<div id='log'></div>

</div>

<div id='badge' class='foot' style='display: none;'>
<%= erb :app_badge %>
</div>

<h1 style='width: 100%; text-align: center; margin: 0;'>
<button class='tog material-icons' value='info'>info</button>

<% if @entity.attr[:contact] != 'none' %>
<a class='material-icons' href='<%= @entity.attr[:contact] %>:<%= @entity.attr[:phone] %>' style='text-decoration: none; color: green; border: thick outset grey;'>call</a>
<% end %>

<% if @box.attr.has_key? :link %>
<button class='goto material-icons' value='<%= @box.attr[:link] %>'>link</button>
<% end %>

<button class='tog material-icons' value='badge'>qr_code_2</button>
</h1>
</div>
<script>
$('#qrcode').qrcode('<%= @qr.badge(@visitor.id) %>');
</script>