<style>
#canvas { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -10; }
a { text-decoration: none; background-color: white; border: thick outset grey; }
</style>
<canvas id='canvas'></canvas>

<div id='foot' style='position: fixed; bottom: 0; width: 100%; background-color: black; color: white;'>

<%= erb Bivouac.form(@host.app[:magic]) %>
<div id='magic' style='display: none;'>
<%= erb :app_magic %>
<h3 style='width: 100%; text-align: center;'><button form='post' name='do' value='app'>send</button></h3>
</div>
<div id='info' class='foot'><div id='log'></div></div>

<div id='badge' class='foot' style='display: none;'>
<%= erb :app_badge %>
</div>
</div>
<h1 style='width: 100%; text-align: center; margin: 0;'>
<button class='tog material-icons' value='info'>info</button>

<% if @entity.attr[:contact] != 'none' %>
<a class='material-icons' href='<%= @entity.attr[:contact] %>:<%= @entity.attr[:phone] %>' style='color: green;'>call</a>
<% end %>

<% if @box.attr.has_key? :link %>
<a class='material-icons' href='<%= @box.attr[:link] %>' style='color: orange'>link</a>
<% end %>

<button class='tog material-icons' value='badge'>qr_code_2</button>
</h1>
</div>
<script>
$('#qrcode').qrcode('<%= @qr.app(@visitor.id, params[:qri], params[:box]) %>');
log({ icon: 'qr_code_2', message: '<%= @entity.attr[:name] || "anonymous" %>@<%= @host.id %>/<%= params[:box] %>' })
setTimeout(function() { log({ icon: 'follow_the_signs', message: '<%= @host.env[:title] %>' }); }, 250);
setTimeout(function() { log({ icon: 'star', message: '<%= @host.env[:pitch] %>' }); }, 500);
<% if @visitor.attr[:class].to_i < 1 %>
setTimeout(function() { log({ icon: 'help', message: '<%= @host.env[:intro] %>' }); }, 750);
<% end %>
</script>