<style>
.foot { background-color: black; color: white; }
iframe { heigt: 100%; width: 100%; }
</style>

<input form='post' type='hidden' name='qri' value='<%= params[:qri] %>'>
<input form='post' type='hidden' name='box' value='<%= params[:box] %>'>

<% if "#{@box.attr[:img]}".length > 0 %>
  <img class='bg' src='<%= @entity.attr[:img] %>'>
<% elsif @host.env[:app_scan] %>
<canvas id='canvas'></canvas>
<% else %>
<% @entity.pics.members.to_a.each_with_index do |e, i| %>
<img class='bg' id='bg_<%= i %>' src='<%= e %>'>
<% end %>
<% end %>

<div id='foot' style='position: fixed; bottom: 0; width: 100%; background-color: black; color: white;'>

<div id='magic' style='display: none;'>
<%= erb :app_magic %>
<h3 style='width: 100%; text-align: center;'>
<button form='post' name='do' value='app'>send</button>
</h3>
</div>

<div id='info' class='foot'>
<% if "#{@box.attr[:youtube]}".length > 0 %>
<div id='youtube-wrapper' style='width: 100%; text-align: center;'>
<%= @box.attr[:youtube] %>
</div>
<% end %>
<h2 style='width: 100%; text-align: center; margin: 0; font-size: large;'>
<%= params[:box] %>
</h2>
<% if "#{@box.attr[:name]}".length > 0 %>
<h3 style='width: 100%; text-align: center; margin: 0; font-size: small;'>
<%= @box.attr[:body] %>
</h3>
<% end %>
<% if params.has_key? :vote %>
<% @v = @host.vote(params[:vote]) %>
<div style='width: 100%;'>
<h3 style='width: 100%; text-align: center; margin: 0;'>
<span>VOTE!</span>
</h3>
<h3 style='width: 100%; text-align: center; margin: 0;'>
<button class='goto'><%= @v.attr[:name] %></button>
</h3>
</div>
<% end %>

<div id='log'></div></div>

<div id='users' class='foot' style='max-height: 80%; overflow-y: scroll; display: none;'>
<% @box.users.members.each do |usr| %>
<% @b = @host[usr] %>
<% if @b.attr[:host] == @host.id %>
<p style='width: 100%; text-align: center; margin: 0;'>
<button class='goto' value='<%= @qr.point(@b.attr[:qr])  %>'>
<span class='material-icons'><%= Bivouac.icons[@b.stat[:class].to_i] %></span>
<span><%= @b.attr[:name] || 'anonymous' %></span>
</button>
</p>
<% end %>
<% end %>
</div>

<div id='badge' class='foot' style='display: none;'>
<%= erb :app_badge %>
</div>

</div>

<h1 style='width: 100%; text-align: center; margin: 0; position: fixed; top: 0;'>

<button class='tog material-icons' value='info' style='color: orange;'>info</button>

<% if @box.attr[:contact] != 'none' %>
<a class='material-icons' href='<%= @entity.attr[:contact] %>:<%= @entity.attr[:phone] %>' style='color: green;'>call</a>
<% end %>

<% if "#{@box.attr[:donations]}".length > 0 %>
<a class='material-icons' href='<%= @box.attr[:donations] %>' style='color: orange'>link</a>
<% end %>

<% if "#{@box.attr[:link]}".length > 0 %>
<a class='material-icons' href='<%= @box.attr[:link] %>' style='color: orange'>link</a>
<% end %>

<% if @host.env[:app_scan] == 'on' %>
<button class='tog material-icons' value='badge'>qr_code_2</button>
<% end %>

<button class='tog material-icons' value='users'>diversity_1</button>

</h1>
</div>
<script>
<% if @host.env[:app_scan] == 'on' %>
$('#qrcode').qrcode('<%= @qr.app(@visitor.id, params[:qri], params[:box]) %>');
<%= erb :scan %>
<% elsif @host.env[:app_jobs] == 'on' %>
<%= erb :scan %>
<% elsif "#{@b.attr[:img]}".length == 0 %>
var bg = 0;
var bgs = <%= @b.pics.members.length %>;
$('.bg').hide();
$('#bg_0').show();
setInterval(function() {
  if (bg > bgs) {bg = 0;}
  $('.bg').hide();
  $('#bg_' + bg).show();
}, 1000);
<% end %>
</script>