
<h1 style='width: 100%; text-align: center; margin: 0;'>
<% { "vote" => "loyalty", "love" => "favorite", 'boost' => 'star' }.each_pair do |k,v| %>
<span class='pill'>
<label for='has_<%= k %>'>
    <input form='post' id='has_<%= k %>' type='checkbox' name='boost[<%= k %>]'>
<span class='material-icons'><%= v %></span><%= k %></label>
</span>
<% end %>


<% if @host.app[:merit] == 'on' %>
<% @host.badges.each_pair do |k,v| %>
<span class='pill'>
<label for='has_<%= k %>' onclick='$("#has_<%= k %>").click();'>    
<input form='post' id='has_<%= k %>' type='checkbox' name='touch[<%= k %>]'>
<span class='material-icons'><%= v %></span><%= k %></label>
</span>
<% end %>
<% end %>
</h1>