
<% if Bivouac[request.host].app[:merit] == 'on' %>
<h3 style='width: 100%; text-align: center; margin: 0; padding: 0; background-color: <%= Bivouac.bg[@visitor.stat[:class].to_i] %>; color: <%= Bivouac.fg[@visitor.stat[:class].to_i] %>; border: thick solid <%= Bivouac.bd[@visitor.stat[:class]] %>;'>
<% (@visitor.stat[:rank].to_i + 1).times do %>
<span class='material-icons' style=''><%= Bivouac.icons[@visitor.stat[:class].to_i] %></span>
<% end %>
</h3>
<% end %>

<h3 style='width: 100%; text-align: center; margin: 0;'>
<span><%= Bivouac.classes[@visitor.stat[:class].to_i] %></span>
</h3>b
<div id='qrcode-wrap' style='width: 100%; text-align: center;'>
<div id='qrcode' style='padding: 2%; border: thick solid black; background-color: white;'></div>
</div>
<h3 style='text-align: center; width: 100%; margin: 0;'>
<span><%= params[:box] || @entity.attr[:box] %></span>
</h3>

<% if Bivouac[request.host].app[:merit] == 'on' %>
<div style='width: 100%; text-align: center;'>
<% Bivouac.badges.each_pair do |badge, icon| %>
<% if @visitor.badges[badge] > 0 || @visitor.awards[badge] > 0 %>
<span class='material-icons' style='padding: 1%; border-radius: 100px; background-color: <%= Bivouac.bg[@visitor.badges[badge].to_i] || "black" %>; color: <%= Bivouac.fg[@visitor.badges[badge].to_i] || "white" %> ; border: thick solid <%= Bivouac.bd[@visitor.awards[badge].to_i] || "black" %>'><%= icon %></span>
<% end %>
<% end %>
</div>
<% end %>
