<h3 style='width: 100%; text-align: center; margin: 1% 0 1% 0;'>
<a href='<%= @host.pre %>://<%= @host.host %>/t?target=<%= @entity.attr[:target] %>' style='text-decoration: none; color: white; background-color: black;'>ME</a>
</h3>

<% if "#{@entity.attr[:box]}".length  > 0 %>
<% if @entity[@entity.attr[:box]].targets.members.length > 0 %>
  <% @entity[@entity.attr[:box]].targets.members.each do |t| %>
  <% @t = Bivouac.target(t) %>
  <% if @t.id != @entity.id && "#{@t.attr[:name]}".length > 0 %>
<h3 style='width: 100%; text-align: center; margin: 2% 0 2% 0;'>
<span style='padding: 0 2% 0 2%; background-color: black; border: thick solid black; border-radius: 50px;'>
<a href='<%= @host.pre %>://<%= @host.host %>/t?target=<%= @t.id %>' style='text-decoration: none; color: white; background-color: black;'><%= @t.attr[:name] %></a><a href='<%= @host.pre %>://<%= @host.host %>/t?entity=<%= @entity.id %>&box=<%= @entity.attr[:box] %>&tgt=<%= @t.id %>' class='material-icons' style='text-decoration-none; color: orange; background-color: black;'>edit</a>
</span>
</h3>
  <% end %>
  <% end %>
<h3 style='width: 100%; text-align: center; margin: 1% 0 1% 0;'>
<button class='goto' value='<%= @host.pre %>://<%= @host.host %>/t?entity=<%= @entity.id %>&box=<%= @entity.attr[:box] %>'>create</button>
</h3>
<% end %>
<% end %>