<div style='border: thin solid black;'>
<p style='width: 100%; text-align: center; margin: 0;'>
  <input form='post' name='config[name]' id='entity-config-name' placeholder='name'>
</p>

<p style='width: 100%; text-align: center; margin: 0;'>
  <select form='post' id='entity-config-contact' name='config[contact]' style='width: min-content;'>
    <option value='none' selected>none</option>
    <option value='tel'>call</option>
    <option value='sms'>text</option>
  </select>
  <input form='post' name='config[phone]' placeholder='phone' id='entity-config-phone' style='width: 50%;'>
</p>
<p style='width: 100%; text-align: center; margin: 0;'>
<input form='post' name='config[link]' id='entity-config-link' placeholder='link'>
</p>

<% if @entity.attr.has_key? :box %>
<% @b = @entity[@entity.attr[:box]] %>
<% if @b.attr[:owner] == @entity.id %>
<div id='box-conf'>
<p style='width: 100%; text-align: center; margin: 0; display: none;' class='box_config'>
<label for='box-pay'><span class='material-icons'>toll</span>/scan</label><span style='width: 25%;'><input form='post' type='number' id='box-pay' name='boss[click]' maxlength='4' value='<%= @b.stat[:click].to_i %>' style='width: 25%;'></span></p>
<p style='width: 100%; text-align: center; margin: 0; display: none;' class='box_config'>
<input form='post' id='box-body' name='admin[body]' placeholder='call to action' value='<%= @b.attr[:body] %>'>
</p>
</div>
<% end %>
<% end %>

<p style='width: 100%; text-align: center; margin: 0;'>
<% if @entity.stat[:class].to_i >= 7 %>
<datalist id='sponsors'>
<% @entity.boxes.members.each do |e| %>
<option value='<%= e %>'>
<% end %>
</datalist>
<% if @entity[@entity.attr[:box]].attr[:owner] == @entity.id %>
<p style='width: 100%; text-align: center;'>
<label for='box_parent'>parent</label>
<select id='box_parent' name='parent' style='width: 50%;'>
<option selected>self</option>
<% @entity.boxes.members.each do |e| %>
<% if @entity.attr[:box] != e %>
<option value='<%= e %>'><%= e %></option>
<% end %>
<% end %>
</select>
</p>
<p style='width: 100%; text-align: center;'><button type='button' class='material-icons' onclick='$(".box_config").toggle()'>settings</button>
<input form='post' name='box' list='sponsors' id='entity-config-box' placeholder='box' value='<%= @entity.attr[:box] %>' style='width: 40%;'></p>
<% else %>
<input form='post' name='box' list='sponsors' id='entity-config-box' placeholder='box' value='<%= @entity.attr[:box] %>' style='width: 60%;'>
<% end %>
<% else %>
<select form='post' name='box' id='entity-config-box' style='width: 60%;'>
  <option selected disabled>sponsor</option>
<% @entity.boxes.members.each do |e| %>
<% if @entity.attr[:box] == e %>
<option value='<%= e %>' selected><%= e %></option>
<% else %>
<option value='<%= e %>'><%= e %></option>
<% end %>
<% end %>
</select>
<% end %>
<button form='post' class='material-icons' name='do' value='update'>save</button>
</p>
</div>
