<p><span class='material-icons'>settings</span>
  <input form='post' name='config[name]' id='entity-config-name' placeholder='name' value='<%= @entity.attr[:name] %>'>
</p>

<p><span class='material-icons'>settings</span>
  <select form='post' id='entity-config-contact' name='config[contact]' style='width: min-content;'>
    <option value='none' selected>none</option>
    <option value='tel'>call</option>
    <option value='sms'>text</option>
  </select>
  <input form='post' name='config[phone]' placeholder='phone' id='entity-config-phone' value='<%= @entity.attr[:phone] %>'>
</p>

<p><span class='material-icons'>settings</span>
<% if @entity.stat[:class].to_i >= 7 %>
<datalist id='sponsors'>
<% @entity.boxes.members.each do |e| %>
<option value='<%= e %>'>
<% end %>
</datalist>
<input form='post' name='config[box]' list='sponsors' id='entity-config-box' placeholder='sponsor'>
<% else %>
<select form='post' name='config[box]' id='entity-config-box' >
  <option selected disabled>sponsor</option>
<% @entity.boxes.members.each do |e| %>
<option value='<%= e %>'><%= e %></option>
<% end %>
</select>
<% end %>
</p>

<p><span class='material-icons'>settings</span>
<button form='post'>SAVE</button>
</p>

