<h3 style='width: 100%; text-align: center; margin: 0;'>
<span>quick help</span>
</h3>
<p style='margin: 0;'>The game is simple.  Scan targets to gain credits and special offers.
Get your badge scanned to get badges, titles, groups, and awards.  The whole city is the game board.  Everyone is a character.  Welcome to the biggest real-life choose your own adventure game ever.
</p>

<h4 style='width: 100%; text-align: center; margin: 0;'>ranks</h4>
<p style='margin: 0;'>As you scan targets, you will gain experience.  The more experience you get, the higher your rank will go.</p>

<h4 style='width: 100%; text-align: center; margin: 0;'>badges</h4>
<p style='margin: 0;'>Badges certify users within a certain field.  Awards can also be earned over time and by winning contests.</p>

<h4 style='width: 100%; text-align: center; margin: 0;'>credits</h4>
<p style='margin: 0;'>You can earn <span class='material-icons'>toll</span> by getting your badge scanned, even more <span class='material-icons'>toll</span> by joining teams and referring others by getting your badge scanned.  You can redeem your <span class='material-icons'>toll</span> for goods and services within the <%= @host.host %> network.</p>

<h4 style='width: 100%; text-align: center; margin: 0;'>classes</h4>
<p style='margin: 0;'>As you progress through the game, you can gain more privledge by having your class raised.</p>
<ol>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[0] %></span>
<%= Bivouac.classes[0] %></span>
<span>Someone new to the game.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[1] %></span>
<%= Bivouac.classes[1] %></span>
<span>Someone who works within a team.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[2] %></span>
<%= Bivouac.classes[2] %></span>
<span>Someone who can direct you with the game.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[3] %></span>
<%= Bivouac.classes[3] %></span>
<span>Someone who represents a team.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[4] %></span>
<%= Bivouac.classes[4] %></span>
<span>Someone who manages a team.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[5] %></span>
<%= Bivouac.classes[5] %></span>
<span>Someone who owns a team.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[6] %></span>
<%= Bivouac.classes[6] %></span>
<span>Someone who represents multiple teams.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[7] %></span>
<%= Bivouac.classes[7] %></span>
<span>Someone who represents <%= @host.host %>.</span>
</li>

<li style='margin: 0;'><span style='border: thin solid black; border-radius: 50px;'>
<span class='material-icons'><%= Bivouac.icons[8] %></span>
<%= Bivouac.classes[8] %></span>
<span>Someone who runs <%= @host.host %>.</span>
</li>

</ol>

<h4 style='width: 100%; text-align; margin: 0;'>sponsorship opprtunities available.</h4>

<h4 style='width: 100%; text-align; margin: 0;'>share and enjoy. <span class='material-icons' style='color: gold;'>handshake</span></h4>