<style>
  form { background-color: white; color: black; }
  .pill { background-color: black; color: white; padding: 0 2% 0 2%; border-radius: 50px; }
  div > p { padding: 0; width: 100%; text-align: center; }
  div > textarea { width: 100%; height: 33vh; }
</style>

<div id='index_config'>
  <p><input form='post' name='env[title]' placeholder='title' value='<%= @host.env[:title] %>'></p>
  <p><input form='post' name='env[pitch]' placeholder='pitch' value='<%= @host.env[:pitch] %>'></p>
  <p><input form='post' name='env[intro]' placeholder='intro' value='<%= @host.env[:intro] %>'></p>
  
  <p>
    <select form='post' name='env[font]' class='pill'>
      <option value='monospace' selected>monospace</option>
      <option value='serif'>serif</option>
      <option value='sans-serif'>sans-serif</option>
      <option value='cursive'>cursive</option>
      <option value='fantasy'>fantasy</option>
    </select>
  </p>
  <p>
  <span class='pill'>
    <input form='post' id='has_members' type='checkbox' name='app[members]' checked>
    <label for='has_members'><span class='material-icons'>people</span>users</label>
  </span>
  <span class='pill'>
    <input form='post' id='has_teams' type='checkbox' name='app[teams]' checked>
    <label for='has_teams'><span class='material-icons'>groups</span>teamss</label>
  </span>
  <span class='pill'>
    <input form='post' id='has_merit' type='checkbox' name='app[merit]' checked>
    <label for='type_scan'><span class='material-icons'>military_tech</span>ranks</label>
  </span>
  <span class='pill'>
    <input form='post' id='has_brand' type='checkbox' name='app[jobs]' checked>
    <label for='has_brand'><span class='material-icons'>camera</span>camera</label>
  </span>
  <span class='pill'>
    <input form='post' id='has_app_jobs' type='checkbox' name='app[app_jobs]'>
    <label for='has_app_jobs'><span class='material-icons' style='color: blue;'>camera</span>..for visitors</label>
  </span>
  <span class='pill'>
    <input form='post' id='has_app_scan' type='checkbox' name='app[app_scan]'>
    <label for='has_app_scan'><span class='material-icons'>qr_code</span>scanner</label>
  </span>
  </p>
  <textarea form='post' name='app[index]' placeholder='landing html...'><%= @host.app[:index] %></textarea>
  <textarea form='post' name='app[entity]' placeholder='profile html...'><%= @host.app[:entity] %></textarea>
  <textarea form='post' name='app[box]' placeholder='group html...'><%= @host.app[:box] %></textarea>
</div>

<!-- lock and save -->
<div>
  <p>
    <input form='post' id='has_lock' type='checkbox' name='env[locked]' checked>
    <label for='has_lock'><span class='material-icons'>lock</span>lock</label>
  </p>
  <p style='width: 100%; text-align: center;'>
    <button form='post' name='do' value='save'>SAVE</button>
  </p>
</div>
