<style>
  fieldset { border-color: orange; color: white; margin: 0; padding: 0; }
legend {
  position: absolute;
bottom: 0;
  padding: 0;
background-color: black;
color: orange;
}
  .foot { position: fixed; bottom: 0; width: 100%; background-color: white; color: black; }
  .foot > p { margin: 0; padding: 0; }
  #log > p { margin: 0; padding: 0; }
.tog { margin: 0; padding: 0; background-color: black; border-color: orange; color: grey; }
</style>

<% if @host.env[:locked] != 'on' %>
  <% if @host.env[:edit] == 'true' %>
    <%= erb :index_config %>
  <% else %>
    <button form='post' name='on' value='edit'>EDIT</button>
  <% end %>
<% else %>
  <canvas id='canvas'></canvas>
  <% if @host.app.has_key?(:index) && "#{@host.app[:index]}".length > 0 %>
    <%= erb @host.app[:index] %>
  <% else %>

  <div style='display: none;' class='foot' id='settings'>
    <%= erb :entity_config %>
  </div>

  <div class='foot' id='badge' style='display: none;'>
    <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
      <div id='qrcode' style='padding: 2%; border: thick solid black; background-color: white;'></div>
    </div>
  </div>
  
  <div class='foot' id='focus'>
    <div id='log'></div>
  </div>
  
  <h1 style='width: 100%; text-align: center; margin: 0; padding: 0;'>
    <nav style='float: right; vertical-align: middle;'>
  <button class='tog material-icons' value='focus' style='color: orange;'>center_focus_weak</button>
  <button class='tog material-icons' value='settings'>settings</button>
  <button class='tog material-icons' value='badge'>qr_code_2</button>
    </nav>
    <span><%= @host.id %></span>
</h1>
<% end %>
<% end %>
<script>
$(function() {
$('#qrcode').qrcode('<%= @qr.badge(@id) %>');
setTimeout(function() { log('<em><%= @host.env[:title] %></em>'); }, 250);
setTimeout(function() { log('<%= @host.env[:pitch] %>'); }, 500);
});
</script>
