<style>
  fieldset { border-color: orange; color: white; margin: 0; padding: 0; }
legend {
  position: absolute;
bottom: 0;
  padding: 0;
background-color: black;
color: orange;
}
  .foot { position: fixed; bottom: 0; width: 100%; background-color: white; color: black; }
  .foot > p { margin: 0; padding: 0; }
  #log > p { margin: 0; padding: 0; }
.tog { margin: 0; padding: 0; background-color: black; border-color: orange; color: grey; }
</style>

<% if @host.env[:locked] != 'on' %>
    <%= erb :index_config %>
<% else %>
<canvas id='canvas'></canvas>

  <% if @host.app.has_key?(:index) && "#{@host.app[:index]}".length > 0 %>
    <%= erb @host.app[:index] %>
  <% else %>

  <div style='display: none;' class='foot' id='magic'>
    <%= erb :entity_magic %>
  </div>

  <div style='display: none;' class='foot' id='settings'>
    <%= erb :entity_config %>
  </div>

  <div style='display: none;' class='foot' id='login'>
    <%= erb :entity_login %>
  </div>
  
  <div class='foot' id='badge' style='display: none;'>
    <h3 style='text-align: center; width: 100%;'>
      <% if @host.app[:merit] == 'on' %>
      <span class='material-icons'><%= Bivouac.icons[@entity.stat[:class].to_i] %></span>
      <% end %>
      <span><%= @entity.attr[:title] || Bivouac.classes[@entity.stat[:class].to_i] %></span>
      <% if @host.app[:merit] == 'on' %>
      <span class='material-icons'><%= Bivouac.icons[@entity.stat[:rank].to_i ] %></span>
      <% end %>
    </h3>
    <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
      <div id='qrcode' style='padding: 2%; border: thick solid black; background-color: white;'></div>
    </div>
    <h3 style='text-align: center; width: 100%;'>
      <span><%= @entity.attr[:box] %></span>
    </h3>
  </div>
  
  <div class='foot' id='focus'>
  <% if params.has_key? :entity %>
  <p style='width: 100%; text-align: center;'>
<span style='padding: 0 2% 0 2%;'><span class='material-icons'>toll</span><span id='credits'><%= @entity.stat[:credits] %></span></span>
<span style='padding: 0 2% 0 2%;'><span class='material-icons'>leaderboard</span><span id='xp'><%= @entity.stat[:class] %></span></span>
<span style='padding: 0 2% 0 2%;'><span class='material-icons'>military_tech</span><span id='level'><%= @entity.stat[:rank] %></span></span>
</p>
<% end %>
    <div id='log'></div>
  </div>
  
  <h3 style='width: 100%; text-align: left; margin: 0; padding: 0;'>
    <nav style='float: right; vertical-align: middle;'>
    <% if params.has_key? :entity %>
      <button class='tog material-icons' value='settings'>settings</button>
      <button class='tog material-icons' value='focus' style='color: orange;'>center_focus_weak</button>
      <button class='tog material-icons' value='badge'>qr_code_2</button>
      <% else %>
      <% if !params.has_key?(:cha) && !params.has_key?(:set) %>
      <button class='tog material-icons' value='login'>login</button>
      <% end %>
      <% end %>
    </nav>
    <span style='color: white; text-align: left;'><%= @host.id %></span>
</h3>
<% end %>
<% end %>
<script>
  $(function() {
//  log({ icon: 'memory', message: 'id: <%= @id %>' });
//  log({ icon: 'memory', message: 'user: <%= @entity.id %>' });
//  log({ icon: 'memory', message: 'entity: <%= params[:entity] %>' });

  <% if params.has_key?(:cha) || params.has_key?(:set) %>
  $('.foot').hide();
  $('#login').show();
  <% end %>

  <% if params.has_key?(:entity) %>
$('#qrcode').qrcode('<%= @qr.badge(@entity.id) %>');
setTimeout(function() { log({ icon: 'follow_the_signs', message: '<%= @host.env[:title] %>' }); }, 250);
setTimeout(function() { log({ icon: 'star', message: '<%= @host.env[:pitch] %>' }); }, 500);
   <% if @entity.attr[:class].to_i < 1 %>
setTimeout(function() { log({ icon: 'help', message: '<%= @host.env[:intro] %>' }); }, 750);
<% end %>
  <% if !params.has_key? :installed %>
  setTimeout(function() { log({ icon: 'add_to_home_screen', message: 'add to home screen' }); }, 1000);
  <% end %>
   
   <%# erb :sw %>
   <% end %>
});
</script>
