<!DOCTYPE html>
<head>
  <style>
    html { max-width: 100vw; max-height: 100vh; }
<% [ :html, :button, :input, :select ].each do |e| %>
<%= e %> { font-family: <%= @host.app[:font] || 'monospace' %>; font-size: x-large; }
<% end %>
body { margin: 0; padding: 0; font-family: '<%= @host.env[:font] || "monospace" %>'; }
.material-icons { vertical-align: middle; }
#canvas { position: fixed; top: 0; left: 0; z-index: -10; width: 100%; height: 100%; }
<%= erb @host.app[:css] || '' %>
</style>
<% @ts = Time.now.utc.to_i %>

<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<% if params.has_key?(:entity) %>
<link rel="manifest" href="<%= @host.url %>/manifest.webmanifest?entity=<%= params[:entity] %>" crossorigin="use-credentials" />
<% end %>
<!-- mqtt broker -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.js'></script>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- qr generator/scanner -->
<script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
<!-- charts and images -->
<!-- <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script> -->
<script>
  var classes = <%= JSON.generate(Bivouac.classes) %>;
  var icons = <%= JSON.generate(Bivouac.icons) %>;
  function log(j) { console.log(j.message); $('#log').append('<p><span class="material-icons">' + j.icon + '</span>' + j.message + '</p>') }
  $(function() {
	  $(document).on('click', '.tog', function(ev) {
	      ev.preventDefault();
	      $('.foot').hide();
	      $('#' + $(this).val()).show();
	      $('.tog').css('color', 'grey');
	      $(this).css('color', 'orange');
	  });
      $(document).on('click', '.goto', function(ev) {
	  ev.preventDefault();
	  window.location.href = $(this).val();
      });
	  <% if @entity || params.has_key?(:entity) %>
      $(document).on('click', '.pub', function(ev) {
	  ev.preventDefault();
	  var t = $(this).val();
	  var i = "#pub_" + t;
	  var h = { entity: '<%= @entity.id %>', topic: t, payload: $(i).val() }
	  console.log('post', h);
	  $.post( "/chan", h, function(data) {
	      $(i).val('');
	      console.log("resp", data);
	  }, "json");
      });
      <% end %>
//log('app loaded.');
});
</script>
</head><body>
<form id='post' action='/' method='POST'></form>
<form id='auth' action='/auth' method='POST'></form>
<form id='form'>
  <% if @entity || params.has_key?(:entity) %>
  <input type='hidden' form='post' id='entity' name='entity' value='<%= params[:entity] || @entity.id %>'>
  <% end %>
  <% if @box || params.has_key?(:box) %>
    <input type='hidden' form='post' id='entity' name='box' value='<%= params[:box] || @box.id %>'>
  <% end %>
<%= yield %>
</form>
</body></html>
